In [84]:
import pandas as pd
import numpy as np
import asyncio
import json
import aiohttp
import nest_asyncio
from understat import Understat
# to avoid errors apply the nest asyncio 
nest_asyncio.apply()

In [85]:
# EPL 2021 시즌 팀 결과

async def main():
    async with aiohttp.ClientSession() as session:
        understat = Understat(session)
        table = await understat.get_league_table("EPL", "2021")
        df = pd.DataFrame(table)
          
        return df

loop = asyncio.get_event_loop()
df= loop.run_until_complete(main())

df.columns = df.iloc[0]
df = df[1:]
print(df)

0                      Team   M   W   D   L   G  GA PTS     xG   NPxG    xGA  \
1           Manchester City  38  29   6   3  99  26  93   93.4  86.32  25.21
2                 Liverpool  38  28   8   2  94  26  92  93.02  86.83  32.73
3                   Chelsea  38  21  11   6  76  33  74   69.3  62.45  35.12
4                 Tottenham  38  22   5  11  69  40  71  67.95  64.15   43.7
5                   Arsenal  38  22   3  13  61  48  69  63.39  57.19  48.39
6         Manchester United  38  16  10  12  57  57  58  57.21  53.41  56.85
7                  West Ham  38  16   8  14  60  51  56  54.98  50.26  53.88
8                 Leicester  38  14  10  14  62  59  52  49.49  47.97  66.11
9                  Brighton  38  12  15  11  42  44  51  49.57  44.24  47.21
10  Wolverhampton Wanderers  38  15   6  17  38  43  51  39.04  38.28  58.48
11         Newcastle United  38  13  10  15  44  62  49  41.53  39.24  62.71
12           Crystal Palace  38  11  15  12  50  46  48  48.84  42.66  41.33
13                Brentford  38  13   7  18  48  56  46  52.89  48.32   49.5
14              Aston Villa  38  13   6  19  52  54  45  43.13  40.85   53.1
15              Southampton  38   9  13  16  43  67  40  47.35   44.3  64.56
16                  Everton  38  11   6  21  43  66  39  44.47  39.14  60.69
17                    Leeds  38   9  11  18  42  79  38  51.19  47.38  71.31
18                  Burnley  38   7  14  17  34  53  35  41.11  39.58  60.22
19                  Watford  38   6   5  27  34  77  23  39.34  37.82  67.53
20                  Norwich  38   5   7  26  23  84  22  31.51  29.23  80.08

0   NPxGA  NPxGD   PPDA  OPPDA   DC  ODC   xPTS
1   24.45  61.87   8.52  22.92  508  138  91.88
2   32.73   54.1   8.07  21.71  461  159  86.56
3   30.55   31.9   8.76  16.36  385  163  73.38
4   42.18  21.97  12.53  12.38  285  255  66.09
5   43.82  13.37  12.55  13.94  314  220  64.76
6   53.05   0.36  12.84  12.09  293  261  54.52
7   49.31   0.95  14.06  13.78  239  294  53.56
8   59.06  -11.1  11.78   12.4  252  293  42.31
9   44.17   0.07   9.37  13.44  305  244  54.18
10  50.87 -12.59  14.64  11.32  181  309  40.54
11  57.99 -18.75   13.8   7.85  170  293  41.53
12  38.29   4.38  11.38   9.56  213  238  58.15
13  45.69   2.63  11.66   10.2  232  226   56.0
14  48.42  -7.57  12.91   8.93  258  258   46.2
15  63.04 -18.73   10.5   9.55  209  286  43.45
16  59.17 -20.03  14.03   7.83  190  299  43.54
17   67.5 -20.12   8.58  11.34  239  300  43.86
18  56.42 -16.83  12.89    9.5  184  316   38.1
19  62.21 -24.39  14.27   7.62  159  339  35.45
20  70.72 -41.49  15.33   9.35  188  374  25.04

In [86]:
# 필요없는 컬럼 제거

columns_to_remove = ['M', 'GA', 'PTS', 'xPTS']
df_1 = df.drop(columns=columns_to_remove)

In [87]:
#2021 시즌 토트넘 전 경기 데이터 

async def main():
    async with aiohttp.ClientSession() as session:
        understat = Understat(session)
        results = await understat.get_team_results(
            "Tottenham",
            2021
        )
        result_tot21 = pd.DataFrame(results)
         
        return result_tot21

loop = asyncio.get_event_loop()
result_tot21=loop.run_until_complete(main())
result_tot21

,id,isResult,side,h,a,goals,xG,datetime,forecast,result
0,16385,True,h,"{'id': '82', 'title': 'Tottenham', 'short_titl...","{'id': '88', 'title': 'Manchester City', 'shor...","{'h': '1', 'a': '0'}","{'h': '1.06014', 'a': '2.10585'}",2021-08-15 15:30:00,"{'w': 0.18257292013435295, 'd': 0.203895463205...",w
1,16393,True,a,"{'id': '229', 'title': 'Wolverhampton Wanderer...","{'id': '82', 'title': 'Tottenham', 'short_titl...","{'h': '0', 'a': '1'}","{'h': '1.51127', 'a': '1.72636'}",2021-08-22 13:00:00,"{'w': 0.338692239079046, 'd': 0.23135991127882...",w
2,16404,True,h,"{'id': '82', 'title': 'Tottenham', 'short_titl...","{'id': '90', 'title': 'Watford', 'short_title'...","{'h': '1', 'a': '0'}","{'h': '0.920963', 'a': '0.596016'}",2021-08-29 13:00:00,"{'w': 0.41565259255174536, 'd': 0.357357218865...",w
3,16406,True,a,"{'id': '78', 'title': 'Crystal Palace', 'short...","{'id': '82', 'title': 'Tottenham', 'short_titl...","{'h': '3', 'a': '0'}","{'h': '2.89372', 'a': '0.0775646'}",2021-09-11 11:30:00,"{'w': 0.9319927304397665, 'd': 0.0633993356761...",l
4,16425,True,h,"{'id': '82', 'title': 'Tottenham', 'short_titl...","{'id': '80', 'title': 'Chelsea', 'short_title'...","{'h': '0', 'a': '3'}","{'h': '0.70567', 'a': '2.5869'}",2021-09-19 15:30:00,"{'w': 0.07898708865135566, 'd': 0.142997960169...",l
5,16434,True,a,"{'id': '83', 'title': 'Arsenal', 'short_title'...","{'id': '82', 'title': 'Tottenham', 'short_titl...","{'h': '3', 'a': '1'}","{'h': '1.44499', 'a': '0.980166'}",2021-09-26 15:30:00,"{'w': 0.47829118196240206, 'd': 0.265759761940...",l
6,16443,True,h,"{'id': '82', 'title': 'Tottenham', 'short_titl...","{'id': '71', 'title': 'Aston Villa', 'short_ti...","{'h': '2', 'a': '1'}","{'h': '1.78187', 'a': '1.07395'}",2021-10-03 13:00:00,"{'w': 0.5395471479677525, 'd': 0.2328505532906...",w
7,16452,True,a,"{'id': '86', 'title': 'Newcastle United', 'sho...","{'id': '82', 'title': 'Tottenham', 'short_titl...","{'h': '2', 'a': '3'}","{'h': '0.645658', 'a': '1.55008'}",2021-10-17 15:30:00,"{'w': 0.15378063409252624, 'd': 0.253809507904...",w
8,16465,True,a,"{'id': '81', 'title': 'West Ham', 'short_title...","{'id': '82', 'title': 'Tottenham', 'short_titl...","{'h': '1', 'a': '0'}","{'h': '1.73468', 'a': '0.672198'}",2021-10-24 13:00:00,"{'w': 0.6298369139492594, 'd': 0.2300487591767...",l
9,16473,True,h,"{'id': '82', 'title': 'Tottenham', 'short_titl...","{'id': '89', 'title': 'Manchester United', 'sh...","{'h': '0', 'a': '3'}","{'h': '1.15787', 'a': '1.38612'}",2021-10-30 16:30:00,"{'w': 0.3135380507490739, 'd': 0.2651958252987...",l
10,16481,True,a,"{'id': '72', 'title': 'Everton', 'short_title'...","{'id': '82', 'title': 'Tottenham', 'short_titl...","{'h': '0', 'a': '0'}","{'h': '0.597906', 'a': '0.801798'}",2021-11-07 14:00:00,"{'w': 0.24887638108322588, 'd': 0.379874181711...",d
11,16493,True,h,"{'id': '82', 'title': 'Tottenham', 'short_titl...","{'id': '245', 'title': 'Leeds', 'short_title':...","{'h': '2', 'a': '1'}","{'h': '2.31744', 'a': '1.46689'}",2021-11-21 16:30:00,"{'w': 0.5660791121919279, 'd': 0.1964782420505...",w
12,16515,True,h,"{'id': '82', 'title': 'Tottenham', 'short_titl...","{'id': '244', 'title': 'Brentford', 'short_tit...","{'h': '2', 'a': '0'}","{'h': '2.07248', 'a': '0.225492'}",2021-12-02 19:30:00,"{'w': 0.8152310438208615, 'd': 0.1531896383886...",w
13,16522,True,h,"{'id': '82', 'title': 'Tottenham', 'short_titl...","{'id': '79', 'title': 'Norwich', 'short_title'...","{'h': '3', 'a': '0'}","{'h': '2.00668', 'a': '1.06562'}",2021-12-05 14:00:00,"{'w': 0.5915943352735469, 'd': 0.2127088849932...",w
14,16552,True,h,"{'id': '82', 'title': 'Tottenham', 'short_titl...","{'id': '87', 'title': 'Liverpool', 'short_titl...","{'h': '2', 'a': '2'}","{'h': '2.79777', 'a': '1.54944'}",2021-12-19 16:30:00,"{'w': 0.6368028503894722, 'd': 0.1686360299469...",d
15,16563,True,h,"{'id': '82', 'title': 'Tottenham', 'short_titl...","{'id': '78', 'title': 'Crystal Palace', 'short...","{'h': '3', 'a': '0'}","{'h': '2.82148', 'a': '0.178324'}",2021-12-26 15:00:00,"{'w': 0.9095167333381515, 'd': 0.0781848032503...",w
16,16575,True,a,"{'id': '74', 'title': 'Southampton', 'short_ti...","{'id': '82', 'title': 'Tottenham', 'short_titl...","{'h': '1', 'a': '1'}","{'h': '0.353043', 'a': '2.80917'}",2021-12-28 15:00:00,"{'w': 0.027744342671929982, 'd': 0.09594530980...",d
17,16585,True,a,"{'id': '90', 'title': 'Watford', 'short_title'...","{'id': '82', 'title': 'Tottenham', 'short_titl...","{'h': '0', 'a': '1'}","{'h': '0.303514', 'a': '1.93752'}",2022-01-01 15:00:00,"{'w': 0.04929609413875372, 'd': 0.178705969515...",w
18,16540,True,a,"{'id': '75', 'title': 'Leicester', 'short_titl...","{'id': '82', 'title': 'Tottenham', 'short_titl...","{'h': '2', 'a': '3'}","{'h': '1.95031', 'a': '4.24711'}",2022-01-19 19:30:00,"{'w': 0.12433811771317296, 'd': 0.109560308935...",w
19,16598,True,a,"{'id': '80', 'title': 'Chelsea', 'short_title'...","{'id': '82', 'title': 'Tottenham', 'short_titl...","{'h': '2', 'a': '0'}","{'h': '1.04212', 'a': '0.328818'}",2022-01-23 16:30:00,"{'w': 0.5356370652401312, 'd': 0.3486036572852...",l
20,16613,True,h,"{'id': '82', 'title': 'Tottenham', 'short_titl...","{'id': '74', 'title': 'Southampton', 'short_ti...","{'h': '2', 'a': '3'}","{'h': '1.74286', 'a': '1.73293'}",2022-02-09 19:45:00,"{'w': 0.3902121334424374, 'd': 0.2236619594829...",l
21,16624,True,h,"{'id': '82', 'title': 'Tottenham', 'short_titl...","{'id': '229', 'title': 'Wolverhampton Wanderer...","{'h': '0', 'a': '2'}","{'h': '0.838197', 'a': '1.87026'}",2022-02-13 14:00:00,"{'w': 0.16274900595742903, 'd': 0.219924612170...",l
22,16632,True,a,"{'id': '88', 'title': 'Manchester City', 'shor...","{'id': '82', 'title': 'Tottenham', 'short_titl...","{'h': '2', 'a': '3'}","{'h': '2.31773', 'a': '2.00235'}",2022-02-19 17:30:00,"{'w': 0.460248724527395, 'd': 0.19653080409841...",w
23,16499,True,a,"{'id': '92', 'title': 'Burnley', 'short_title'...","{'id': '82', 'title': 'Tottenham', 'short_titl...","{'h': '1', 'a': '0'}","{'h': '1.55576', 'a': '0.691655'}",2022-02-23 19:30:00,"{'w': 0.5813251478754824, 'd': 0.2538833872617...",l
24,16642,True,a,"{'id': '245', 'title': 'Leeds', 'short_title':...","{'id': '82', 'title': 'Tottenham', 'short_titl...","{'h': '0', 'a': '4'}","{'h': '1.89569', 'a': '2.47025'}",2022-02-26 12:30:00,"{'w': 0.29918161845504626, 'd': 0.190936893131...",w
25,16653,True,h,"{'id': '82', 'title': 'Tottenham', 'short_titl...","{'id': '72', 'title': 'Everton', 'short_title'...","{'h': '5', 'a': '0'}","{'h': '3.24279', 'a': '0.208263'}",2022-03-07 20:00:00,"{'w': 0.9329541223469168, 'd': 0.0570282903943...",w
26,16663,True,a,"{'id': '89', 'title': 'Manchester United', 'sh...","{'id': '82', 'title': 'Tottenham', 'short_titl...","{'h': '3', 'a': '2'}","{'h': '1.0181', 'a': '1.62374'}",2022-03-12 17:30:00,"{'w': 0.23746675031700812, 'd': 0.247574114548...",l
27,16528,True,a,"{'id': '220', 'title': 'Brighton', 'short_titl...","{'id': '82', 'title': 'Tottenham', 'short_titl...","{'h': '0', 'a': '2'}","{'h': '1.04171', 'a': '2.05196'}",2022-03-16 19:30:00,"{'w': 0.1851434827721659, 'd': 0.2081186549602...",w
28,16673,True,h,"{'id': '82', 'title': 'Tottenham', 'short_titl...","{'id': '81', 'title': 'West Ham', 'short_title...","{'h': '3', 'a': '1'}","{'h': '2.54795', 'a': '0.644964'}",2022-03-20 16:30:00,"{'w': 0.7855972969433074, 'd': 0.1418465147990...",w
29,16678,True,h,"{'id': '82', 'title': 'Tottenham', 'short_titl...","{'id': '86', 'title': 'Newcastle United', 'sho...","{'h': '5', 'a': '1'}","{'h': '3.6081', 'a': '0.538152'}",2022-04-03 15:30:00,"{'w': 0.9100263474966017, 'd': 0.0651033452301...",w
30,16694,True,a,"{'id': '71', 'title': 'Aston Villa', 'short_ti...","{'id': '82', 'title': 'Tottenham', 'short_titl...","{'h': '0', 'a': '4'}","{'h': '1.48712', 'a': '0.983601'}",2022-04-09 16:30:00,"{'w': 0.4885625770154695, 'd': 0.2614320811900...",w
31,16699,True,h,"{'id': '82', 'title': 'Tottenham', 'short_titl...","{'id': '220', 'title': 'Brighton', 'short_titl...","{'h': '0', 'a': '1'}","{'h': '0.58624', 'a': '0.711155'}",2022-04-16 11:30:00,"{'w': 0.2616281385469755, 'd': 0.3995973624610...",l
32,16714,True,a,"{'id': '244', 'title': 'Brentford', 'short_tit...","{'id': '82', 'title': 'Tottenham', 'short_titl...","{'h': '0', 'a': '0'}","{'h': '1.3153', 'a': '0.517755'}",2022-04-23 16:30:00,"{'w': 0.5650598026614231, 'd': 0.2888393796834...",d
33,16719,True,h,"{'id': '82', 'title': 'Tottenham', 'short_titl...","{'id': '75', 'title': 'Leicester', 'short_titl...","{'h': '3', 'a': '1'}","{'h': '1.65338', 'a': '0.274133'}",2022-05-01 13:00:00,"{'w': 0.7241002610845573, 'd': 0.2193215808116...",w
34,16728,True,a,"{'id': '87', 'title': 'Liverpool', 'short_titl...","{'id': '82', 'title': 'Tottenham', 'short_titl...","{'h': '1', 'a': '1'}","{'h': '1.0481', 'a': '0.982635'}",2022-05-07 18:45:00,"{'w': 0.36430725883975973, 'd': 0.305452773217...",d
35,16593,True,h,"{'id': '82', 'title': 'Tottenham', 'short_titl...","{'id': '83', 'title': 'Arsenal', 'short_title'...","{'h': '3', 'a': '0'}","{'h': '3.42522', 'a': '0.387446'}",2022-05-12 18:45:00,"{'w': 0.9188173028010461, 'd': 0.0626887936174...",w
36,16739,True,h,"{'id': '82', 'title': 'Tottenham', 'short_titl...","{'id': '92', 'title': 'Burnley', 'short_title'...","{'h': '1', 'a': '0'}","{'h': '2.39449', 'a': '0.629888'}",2022-05-15 11:00:00,"{'w': 0.7662335282387981, 'd': 0.1545988668924...",w
37,16755,True,a,"{'id': '79', 'title': 'Norwich', 'short_title'...","{'id': '82', 'title': 'Tottenham', 'short_titl...","{'h': '0', 'a': '5'}","{'h': '0.310789', 'a': '3.815'}",2022-05-22 15:00:00,"{'w': 0.009898848876911672, 'd': 0.04178208392...",w

In [88]:
# home_team  away_team    home_xG   away_xG    datetime result 형식으로 데이터 프레임 만들기
 
import json

df = pd.DataFrame(result_tot21)

df['home_team'] = df.apply(lambda row: row['h']['title'] if row['side'] == 'h' else row['a']['title'], axis=1)
df['away_team'] = df.apply(lambda row: row['a']['title'] if row['side'] == 'h' else row['h']['title'], axis=1)
df['home_xG'] = df.apply(lambda row: row['xG']['h'] if row['side'] == 'h' else row['xG']['a'], axis=1)
df['away_xG'] = df.apply(lambda row: row['xG']['a'] if row['side'] == 'h' else row['xG']['h'], axis=1)


df['datetime'] = pd.to_datetime(df['datetime'])
df['result'] = df['result']


df['datetime'] = df['datetime'].dt.strftime('%Y-%m-%d')
print(df[['home_team', 'away_team', 'home_xG', 'away_xG', 'datetime', 'result']])

    home_team                away_team    home_xG   away_xG    datetime result
0   Tottenham          Manchester City    1.06014   2.10585  2021-08-15      w
1   Tottenham  Wolverhampton Wanderers    1.72636   1.51127  2021-08-22      w
2   Tottenham                  Watford   0.920963  0.596016  2021-08-29      w
3   Tottenham           Crystal Palace  0.0775646   2.89372  2021-09-11      l
4   Tottenham                  Chelsea    0.70567    2.5869  2021-09-19      l
5   Tottenham                  Arsenal   0.980166   1.44499  2021-09-26      l
6   Tottenham              Aston Villa    1.78187   1.07395  2021-10-03      w
7   Tottenham         Newcastle United    1.55008  0.645658  2021-10-17      w
8   Tottenham                 West Ham   0.672198   1.73468  2021-10-24      l
9   Tottenham        Manchester United    1.15787   1.38612  2021-10-30      l
10  Tottenham                  Everton   0.801798  0.597906  2021-11-07      d
11  Tottenham                    Leeds    2.31744   1.46689  2021-11-21      w
12  Tottenham                Brentford    2.07248  0.225492  2021-12-02      w
13  Tottenham                  Norwich    2.00668   1.06562  2021-12-05      w
14  Tottenham                Liverpool    2.79777   1.54944  2021-12-19      d
15  Tottenham           Crystal Palace    2.82148  0.178324  2021-12-26      w
16  Tottenham              Southampton    2.80917  0.353043  2021-12-28      d
17  Tottenham                  Watford    1.93752  0.303514  2022-01-01      w
18  Tottenham                Leicester    4.24711   1.95031  2022-01-19      w
19  Tottenham                  Chelsea   0.328818   1.04212  2022-01-23      l
20  Tottenham              Southampton    1.74286   1.73293  2022-02-09      l
21  Tottenham  Wolverhampton Wanderers   0.838197   1.87026  2022-02-13      l
22  Tottenham          Manchester City    2.00235   2.31773  2022-02-19      w
23  Tottenham                  Burnley   0.691655   1.55576  2022-02-23      l
24  Tottenham                    Leeds    2.47025   1.89569  2022-02-26      w
25  Tottenham                  Everton    3.24279  0.208263  2022-03-07      w
26  Tottenham        Manchester United    1.62374    1.0181  2022-03-12      l
27  Tottenham                 Brighton    2.05196   1.04171  2022-03-16      w
28  Tottenham                 West Ham    2.54795  0.644964  2022-03-20      w
29  Tottenham         Newcastle United     3.6081  0.538152  2022-04-03      w
30  Tottenham              Aston Villa   0.983601   1.48712  2022-04-09      w
31  Tottenham                 Brighton    0.58624  0.711155  2022-04-16      l
32  Tottenham                Brentford   0.517755    1.3153  2022-04-23      d
33  Tottenham                Leicester    1.65338  0.274133  2022-05-01      w
34  Tottenham                Liverpool   0.982635    1.0481  2022-05-07      d
35  Tottenham                  Arsenal    3.42522  0.387446  2022-05-12      w
36  Tottenham                  Burnley    2.39449  0.629888  2022-05-15      w
37  Tottenham                  Norwich      3.815  0.310789  2022-05-22      w

In [89]:
# 모든 팀들의 전 경기 데이터 추출후 저장

import aiohttp
import asyncio
import pandas as pd
from understat import Understat

async def main():
    async with aiohttp.ClientSession() as session:
        understat = Understat(session)
        teams = await understat.get_teams("EPL", 2017)
        all_results = []

        for team in teams:
            team_name = team['title']
            results = await understat.get_team_results(team_name, 2017)
            team_data = pd.DataFrame(results)
            team_data['home_team'] = team_data.apply(lambda row: row['h']['title'] if row['side'] == 'h' else row['a']['title'], axis=1)
            team_data['away_team'] = team_data.apply(lambda row: row['a']['title'] if row['side'] == 'h' else row['h']['title'], axis=1)
            team_data['home_xG'] = team_data.apply(lambda row: row['xG']['h'] if row['side'] == 'h' else row['xG']['a'], axis=1)
            team_data['away_xG'] = team_data.apply(lambda row: row['xG']['a'] if row['side'] == 'h' else row['xG']['h'], axis=1)
            team_data['datetime'] = pd.to_datetime(team_data['datetime'])
            team_data['result'] = team_data['result']
            team_data['datetime'] = team_data['datetime'].dt.strftime('%Y-%m-%d')
            all_results.append(team_data)

    # 각 팀의 결과를 병합
    df_all_teams = pd.concat(all_results, keys=[team['title'] for team in teams])

    # 필요한 컬럼만 선택하여 출력
    df_all_teams = df_all_teams.droplevel(0)[['home_team', 'away_team', 'home_xG', 'away_xG', 'datetime', 'result']]
    print(df_all_teams)



loop = asyncio.get_event_loop()
loop.run_until_complete(main())

df_all_teams.to_csv('~/Documents/ds_study/final_data/final_data2017.csv', index=False)

   home_team          away_team    home_xG   away_xG    datetime result
0    Everton              Stoke   0.720574   0.27644  2017-08-12      w
1    Everton    Manchester City    0.59971   1.14216  2017-08-21      d
2    Everton            Chelsea   0.326655   1.16991  2017-08-27      l
3    Everton          Tottenham    1.15144   2.17535  2017-09-09      l
4    Everton  Manchester United    1.06298   3.28722  2017-09-17      l
..       ...                ...        ...       ...         ...    ...
33  Brighton          Tottenham   0.988099   1.36248  2018-04-17      d
34  Brighton            Burnley   0.378409   1.54596  2018-04-28      d
35  Brighton  Manchester United   0.922771  0.652444  2018-05-04      w
36  Brighton    Manchester City    1.00939   1.64765  2018-05-09      l
37  Brighton          Liverpool  0.0408165   3.50981  2018-05-13      l

[760 rows x 6 columns]

# But 이렇게 실행해보니 저장된 csv 파일 형식이 이상했음

In [90]:
# 원하는 형식의 데이터 프레임을 위해 실행 (2017 부터)

import aiohttp
import asyncio
import pandas as pd
from understat import Understat

async def main():
    async with aiohttp.ClientSession() as session:
        understat = Understat(session)
        teams = await understat.get_teams("EPL", 2017)
        all_results = []

        for team in teams:
            team_name = team['title']
            results = await understat.get_team_results(team_name, 2017)
            team_data = pd.DataFrame(results)
            team_data['home_team'] = team_data.apply(lambda row: row['h']['title'] if 'h' in row and 'title' in row['h'] else '', axis=1)
            team_data['away_team'] = team_data.apply(lambda row: row['a']['title'] if 'a' in row and 'title' in row['a'] else '', axis=1)
            team_data['home_xG'] = team_data.apply(lambda row: row['xG']['h'] if 'xG' in row and 'h' in row['xG'] else '', axis=1)
            team_data['away_xG'] = team_data.apply(lambda row: row['xG']['a'] if 'xG' in row and 'a' in row['xG'] else '', axis=1)
            team_data['datetime'] = pd.to_datetime(team_data['datetime'])
            team_data['result'] = team_data['result']
            team_data['datetime'] = team_data['datetime'].dt.strftime('%Y-%m-%d')
            all_results.append(team_data)

    # 각 팀의 결과를 병합
    df_all_teams = pd.concat(all_results, keys=[team['title'] for team in teams])

    # 필요한 컬럼만 선택하여 출력
    df_all_teams = df_all_teams.droplevel(0)[['home_team', 'away_team', 'home_xG', 'away_xG', 'datetime', 'result']]

    # CSV 파일로 저장 (원하는 경로로 수정)
    csv_path = '~/Documents/ds_study/final_data/final_data2017.csv'
    df_all_teams.to_csv(csv_path, index=False)
    print(f'Results saved to {csv_path}')

loop = asyncio.get_event_loop()
loop.run_until_complete(main())

Results saved to ~/Documents/ds_study/final_data/final_data2017.csv

In [92]:
# 2018년도

import aiohttp
import asyncio
import pandas as pd
from understat import Understat

async def main():
    async with aiohttp.ClientSession() as session:
        understat = Understat(session)
        teams = await understat.get_teams("EPL", 2018)
        all_results = []

        for team in teams:
            team_name = team['title']
            results = await understat.get_team_results(team_name, 2018)
            team_data = pd.DataFrame(results)
            team_data['home_team'] = team_data.apply(lambda row: row['h']['title'] if 'h' in row and 'title' in row['h'] else '', axis=1)
            team_data['away_team'] = team_data.apply(lambda row: row['a']['title'] if 'a' in row and 'title' in row['a'] else '', axis=1)
            team_data['home_xG'] = team_data.apply(lambda row: row['xG']['h'] if 'xG' in row and 'h' in row['xG'] else '', axis=1)
            team_data['away_xG'] = team_data.apply(lambda row: row['xG']['a'] if 'xG' in row and 'a' in row['xG'] else '', axis=1)
            team_data['datetime'] = pd.to_datetime(team_data['datetime'])
            team_data['result'] = team_data['result']
            team_data['datetime'] = team_data['datetime'].dt.strftime('%Y-%m-%d')
            all_results.append(team_data)

    # 각 팀의 결과를 병합
    df_all_teams = pd.concat(all_results, keys=[team['title'] for team in teams])

    # 필요한 컬럼만 선택하여 출력
    df_all_teams = df_all_teams.droplevel(0)[['home_team', 'away_team', 'home_xG', 'away_xG', 'datetime', 'result']]

    # CSV 파일로 저장 (원하는 경로로 수정)
    csv_path = '~/Documents/ds_study/final_data/final_data2018.csv'
    df_all_teams.to_csv(csv_path, index=False)
    print(f'Results saved to {csv_path}')

loop = asyncio.get_event_loop()
loop.run_until_complete(main())

Results saved to ~/Documents/ds_study/final_data/final_data2018.csv

In [91]:
# 2019년도

import aiohttp
import asyncio
import pandas as pd
from understat import Understat

async def main():
    async with aiohttp.ClientSession() as session:
        understat = Understat(session)
        teams = await understat.get_teams("EPL", 2019)
        all_results = []

        for team in teams:
            team_name = team['title']
            results = await understat.get_team_results(team_name, 2019)
            team_data = pd.DataFrame(results)
            team_data['home_team'] = team_data.apply(lambda row: row['h']['title'] if 'h' in row and 'title' in row['h'] else '', axis=1)
            team_data['away_team'] = team_data.apply(lambda row: row['a']['title'] if 'a' in row and 'title' in row['a'] else '', axis=1)
            team_data['home_xG'] = team_data.apply(lambda row: row['xG']['h'] if 'xG' in row and 'h' in row['xG'] else '', axis=1)
            team_data['away_xG'] = team_data.apply(lambda row: row['xG']['a'] if 'xG' in row and 'a' in row['xG'] else '', axis=1)
            team_data['datetime'] = pd.to_datetime(team_data['datetime'])
            team_data['result'] = team_data['result']
            team_data['datetime'] = team_data['datetime'].dt.strftime('%Y-%m-%d')
            all_results.append(team_data)

    # 각 팀의 결과를 병합
    df_all_teams = pd.concat(all_results, keys=[team['title'] for team in teams])

    # 필요한 컬럼만 선택하여 출력
    df_all_teams = df_all_teams.droplevel(0)[['home_team', 'away_team', 'home_xG', 'away_xG', 'datetime', 'result']]

    # CSV 파일로 저장 (원하는 경로로 수정)
    csv_path = '~/Documents/ds_study/final_data/final_data2019.csv'
    df_all_teams.to_csv(csv_path, index=False)
    print(f'Results saved to {csv_path}')

loop = asyncio.get_event_loop()
loop.run_until_complete(main())

Results saved to ~/Documents/ds_study/final_data/final_data2019.csv

In [93]:
# 2020년도

import aiohttp
import asyncio
import pandas as pd
from understat import Understat

async def main():
    async with aiohttp.ClientSession() as session:
        understat = Understat(session)
        teams = await understat.get_teams("EPL", 2020)
        all_results = []

        for team in teams:
            team_name = team['title']
            results = await understat.get_team_results(team_name, 2020)
            team_data = pd.DataFrame(results)
            team_data['home_team'] = team_data.apply(lambda row: row['h']['title'] if 'h' in row and 'title' in row['h'] else '', axis=1)
            team_data['away_team'] = team_data.apply(lambda row: row['a']['title'] if 'a' in row and 'title' in row['a'] else '', axis=1)
            team_data['home_xG'] = team_data.apply(lambda row: row['xG']['h'] if 'xG' in row and 'h' in row['xG'] else '', axis=1)
            team_data['away_xG'] = team_data.apply(lambda row: row['xG']['a'] if 'xG' in row and 'a' in row['xG'] else '', axis=1)
            team_data['datetime'] = pd.to_datetime(team_data['datetime'])
            team_data['result'] = team_data['result']
            team_data['datetime'] = team_data['datetime'].dt.strftime('%Y-%m-%d')
            all_results.append(team_data)

    # 각 팀의 결과를 병합
    df_all_teams = pd.concat(all_results, keys=[team['title'] for team in teams])

    # 필요한 컬럼만 선택하여 출력
    df_all_teams = df_all_teams.droplevel(0)[['home_team', 'away_team', 'home_xG', 'away_xG', 'datetime', 'result']]

    # CSV 파일로 저장 (원하는 경로로 수정)
    csv_path = '~/Documents/ds_study/final_data/final_data2020.csv'
    df_all_teams.to_csv(csv_path, index=False)
    print(f'Results saved to {csv_path}')

loop = asyncio.get_event_loop()
loop.run_until_complete(main())

Results saved to ~/Documents/ds_study/final_data/final_data2020.csv

In [94]:
# 2021년도

import aiohttp
import asyncio
import pandas as pd
from understat import Understat

async def main():
    async with aiohttp.ClientSession() as session:
        understat = Understat(session)
        teams = await understat.get_teams("EPL", 2021)
        all_results = []

        for team in teams:
            team_name = team['title']
            results = await understat.get_team_results(team_name, 2021)
            team_data = pd.DataFrame(results)
            team_data['home_team'] = team_data.apply(lambda row: row['h']['title'] if 'h' in row and 'title' in row['h'] else '', axis=1)
            team_data['away_team'] = team_data.apply(lambda row: row['a']['title'] if 'a' in row and 'title' in row['a'] else '', axis=1)
            team_data['home_xG'] = team_data.apply(lambda row: row['xG']['h'] if 'xG' in row and 'h' in row['xG'] else '', axis=1)
            team_data['away_xG'] = team_data.apply(lambda row: row['xG']['a'] if 'xG' in row and 'a' in row['xG'] else '', axis=1)
            team_data['datetime'] = pd.to_datetime(team_data['datetime'])
            team_data['result'] = team_data['result']
            team_data['datetime'] = team_data['datetime'].dt.strftime('%Y-%m-%d')
            all_results.append(team_data)

    # 각 팀의 결과를 병합
    df_all_teams = pd.concat(all_results, keys=[team['title'] for team in teams])

    # 필요한 컬럼만 선택하여 출력
    df_all_teams = df_all_teams.droplevel(0)[['home_team', 'away_team', 'home_xG', 'away_xG', 'datetime', 'result']]

    # CSV 파일로 저장 (원하는 경로로 수정)
    csv_path = '~/Documents/ds_study/final_data/final_data2021.csv'
    df_all_teams.to_csv(csv_path, index=False)
    print(f'Results saved to {csv_path}')

loop = asyncio.get_event_loop()
loop.run_until_complete(main())

Results saved to ~/Documents/ds_study/final_data/final_data2021.csv

In [95]:
# 2022년도

import aiohttp
import asyncio
import pandas as pd
from understat import Understat

async def main():
    async with aiohttp.ClientSession() as session:
        understat = Understat(session)
        teams = await understat.get_teams("EPL", 2022)
        all_results = []

        for team in teams:
            team_name = team['title']
            results = await understat.get_team_results(team_name, 2022)
            team_data = pd.DataFrame(results)
            team_data['home_team'] = team_data.apply(lambda row: row['h']['title'] if 'h' in row and 'title' in row['h'] else '', axis=1)
            team_data['away_team'] = team_data.apply(lambda row: row['a']['title'] if 'a' in row and 'title' in row['a'] else '', axis=1)
            team_data['home_xG'] = team_data.apply(lambda row: row['xG']['h'] if 'xG' in row and 'h' in row['xG'] else '', axis=1)
            team_data['away_xG'] = team_data.apply(lambda row: row['xG']['a'] if 'xG' in row and 'a' in row['xG'] else '', axis=1)
            team_data['datetime'] = pd.to_datetime(team_data['datetime'])
            team_data['result'] = team_data['result']
            team_data['datetime'] = team_data['datetime'].dt.strftime('%Y-%m-%d')
            all_results.append(team_data)

    # 각 팀의 결과를 병합
    df_all_teams = pd.concat(all_results, keys=[team['title'] for team in teams])

    # 필요한 컬럼만 선택하여 출력
    df_all_teams = df_all_teams.droplevel(0)[['home_team', 'away_team', 'home_xG', 'away_xG', 'datetime', 'result']]

    
    csv_path = '~/Documents/ds_study/final_data/final_data2022.csv'
    df_all_teams.to_csv(csv_path, index=False)
    print(f'Results saved to {csv_path}')

loop = asyncio.get_event_loop()
loop.run_until_complete(main())

Results saved to ~/Documents/ds_study/final_data/final_data2022.csv

In [96]:
# 2017시즌 부터 2022시즌까지 병합

file_paths = [
    '~/Documents/ds_study/final_data/final_data2017.csv',
    '~/Documents/ds_study/final_data/final_data2018.csv',
    '~/Documents/ds_study/final_data/final_data2019.csv',
    '~/Documents/ds_study/final_data/final_data2020.csv',
    '~/Documents/ds_study/final_data/final_data2021.csv',
    '~/Documents/ds_study/final_data/final_data2022.csv',
]

dfs = [pd.read_csv(file_path) for file_path in file_paths]

merged_df = pd.concat(dfs, ignore_index=True)
merged_csv_path = '~/Documents/ds_study/premier_league-master/data/all_combined_data.csv'
merged_df.to_csv(merged_csv_path, index=False)

print(f'Merged results saved to {merged_csv_path}')

Merged results saved to ~/Documents/ds_study/final_data/all_combined_data.csv

In [132]:
# Date의 인덱스 표기 통일하기


csv_file_path = '~/Documents/ds_study/final_data/combined_file3.csv'
df = pd.read_csv(csv_file_path)

df.rename(columns={'home_team': 'HomeTeam', 'away_team': 'AwayTeam'}, inplace=True)
df = df.loc[:, ~df.columns.duplicated()]
df = df[['Date', 'HomeTeam', 'AwayTeam'] + [col for col in df.columns if col not in ['Date', 'HomeTeam', 'AwayTeam']]]

print(df)

            Date     HomeTeam     AwayTeam  FTHG  FTAG FTR  HTHG  HTAG HTR  \
0       14/08/10  Aston Villa     West Ham   3.0   0.0   H   2.0   0.0   H
1       14/08/10    Blackburn      Everton   1.0   0.0   H   1.0   0.0   H
2       14/08/10       Bolton       Fulham   0.0   0.0   D   0.0   0.0   D
3       14/08/10      Chelsea    West Brom   6.0   0.0   H   2.0   0.0   H
4       14/08/10   Sunderland   Birmingham   2.0   2.0   D   1.0   0.0   H
...          ...          ...          ...   ...   ...  ..   ...   ...  ..
4765  28/05/2023      Everton  Bournemouth   1.0   0.0   H   0.0   0.0   D
4766  28/05/2023        Leeds    Tottenham   1.0   4.0   A   0.0   1.0   A
4767  28/05/2023    Leicester     West Ham   2.0   1.0   H   1.0   0.0   H
4768  28/05/2023   Man United       Fulham   2.0   1.0   H   1.0   1.0   D
4769  28/05/2023  Southampton    Liverpool   4.0   4.0   D   2.0   2.0   D

        HS  ...   HST   AST    HF    AF    HC   AC   HY   AY   HR   AR
0     23.0  ...  11.0   2.0  15.0  15.0  16.0  7.0  1.0  2.0  0.0  0.0
1      7.0  ...   2.0  12.0  19.0  14.0   1.0  3.0  2.0  1.0  0.0  0.0
2     13.0  ...   9.0   7.0  12.0  13.0   4.0  8.0  1.0  3.0  0.0  0.0
3     18.0  ...  13.0   4.0  10.0  10.0   3.0  1.0  1.0  0.0  0.0  0.0
4      6.0  ...   2.0   7.0  13.0  10.0   3.0  6.0  3.0  3.0  1.0  0.0
...    ...  ...   ...   ...   ...   ...   ...  ...  ...  ...  ...  ...
4765  13.0  ...   6.0   2.0  11.0  12.0   9.0  3.0  1.0  3.0  0.0  0.0
4766  19.0  ...   2.0   7.0   7.0   5.0  12.0  3.0  3.0  0.0  0.0  0.0
4767  13.0  ...   4.0   3.0   8.0  10.0   3.0  5.0  1.0  1.0  0.0  0.0
4768  21.0  ...   8.0   3.0  14.0  10.0   5.0  4.0  1.0  2.0  0.0  0.0
4769  15.0  ...  10.0   8.0   4.0  10.0   2.0  9.0  0.0  2.0  0.0  0.0

[4770 rows x 21 columns]

In [137]:
# 연도 표시 제대로

df.Date = pd.to_datetime(df.Date)
df

C:\Users\VICTUS\AppData\Local\Temp\ipykernel_14356\1885456374.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.Date = pd.to_datetime(df.Date)

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,2010-08-14,Aston Villa,West Ham,3.0,0.0,H,2.0,0.0,H,23.0,...,11.0,2.0,15.0,15.0,16.0,7.0,1.0,2.0,0.0,0.0
1,2010-08-14,Blackburn,Everton,1.0,0.0,H,1.0,0.0,H,7.0,...,2.0,12.0,19.0,14.0,1.0,3.0,2.0,1.0,0.0,0.0
2,2010-08-14,Bolton,Fulham,0.0,0.0,D,0.0,0.0,D,13.0,...,9.0,7.0,12.0,13.0,4.0,8.0,1.0,3.0,0.0,0.0
3,2010-08-14,Chelsea,West Brom,6.0,0.0,H,2.0,0.0,H,18.0,...,13.0,4.0,10.0,10.0,3.0,1.0,1.0,0.0,0.0,0.0
4,2010-08-14,Sunderland,Birmingham,2.0,2.0,D,1.0,0.0,H,6.0,...,2.0,7.0,13.0,10.0,3.0,6.0,3.0,3.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4765,2023-05-28,Everton,Bournemouth,1.0,0.0,H,0.0,0.0,D,13.0,...,6.0,2.0,11.0,12.0,9.0,3.0,1.0,3.0,0.0,0.0
4766,2023-05-28,Leeds,Tottenham,1.0,4.0,A,0.0,1.0,A,19.0,...,2.0,7.0,7.0,5.0,12.0,3.0,3.0,0.0,0.0,0.0
4767,2023-05-28,Leicester,West Ham,2.0,1.0,H,1.0,0.0,H,13.0,...,4.0,3.0,8.0,10.0,3.0,5.0,1.0,1.0,0.0,0.0
4768,2023-05-28,Man United,Fulham,2.0,1.0,H,1.0,1.0,D,21.0,...,8.0,3.0,14.0,10.0,5.0,4.0,1.0,2.0,0.0,0.0
4769,2023-05-28,Southampton,Liverpool,4.0,4.0,D,2.0,2.0,D,15.0,...,10.0,8.0,4.0,10.0,2.0,9.0,0.0,2.0,0.0,0.0

In [139]:
df = df[df.Date >= '2017-08-11']
df

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
2521,2017-11-02,Arsenal,Hull,2.0,0.0,H,1.0,0.0,H,17.0,...,7.0,4.0,12.0,9.0,3.0,8.0,3.0,1.0,0.0,1.0
2522,2017-11-02,Liverpool,Tottenham,2.0,0.0,H,2.0,0.0,H,17.0,...,9.0,2.0,14.0,14.0,10.0,3.0,3.0,4.0,0.0,0.0
2523,2017-11-02,Man United,Watford,2.0,0.0,H,1.0,0.0,H,22.0,...,11.0,3.0,10.0,12.0,5.0,1.0,1.0,0.0,0.0,0.0
2524,2017-11-02,Middlesbrough,Everton,0.0,0.0,D,0.0,0.0,D,9.0,...,3.0,3.0,14.0,9.0,5.0,2.0,2.0,0.0,0.0,0.0
2525,2017-11-02,Stoke,Crystal Palace,1.0,0.0,H,0.0,0.0,D,7.0,...,4.0,1.0,10.0,14.0,5.0,5.0,1.0,3.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4765,2023-05-28,Everton,Bournemouth,1.0,0.0,H,0.0,0.0,D,13.0,...,6.0,2.0,11.0,12.0,9.0,3.0,1.0,3.0,0.0,0.0
4766,2023-05-28,Leeds,Tottenham,1.0,4.0,A,0.0,1.0,A,19.0,...,2.0,7.0,7.0,5.0,12.0,3.0,3.0,0.0,0.0,0.0
4767,2023-05-28,Leicester,West Ham,2.0,1.0,H,1.0,0.0,H,13.0,...,4.0,3.0,8.0,10.0,3.0,5.0,1.0,1.0,0.0,0.0
4768,2023-05-28,Man United,Fulham,2.0,1.0,H,1.0,1.0,D,21.0,...,8.0,3.0,14.0,10.0,5.0,4.0,1.0,2.0,0.0,0.0
4769,2023-05-28,Southampton,Liverpool,4.0,4.0,D,2.0,2.0,D,15.0,...,10.0,8.0,4.0,10.0,2.0,9.0,0.0,2.0,0.0,0.0

In [140]:
csv_path = '~/Documents/ds_study/final_data/combined_file3.csv'
df.to_csv(csv_path, index=False)
print(f'Results saved to {csv_path}')

Results saved to ~/Documents/ds_study/final_data/combined_file3.csv

In [144]:
file1_path = '~/Documents/ds_study/final_data/combined_file2.csv'
file2_path = '~/Documents/ds_study/final_data/combined_file3.csv'

df1 = pd.read_csv(file1_path)
df2 = pd.read_csv(file2_path)

,Date,HomeTeam,AwayTeam,home_xG,away_xG,result
0,2017-08-12,Everton,Stoke,0.720574,0.276440,w
1,2017-08-21,Manchester City,Everton,1.142160,0.599710,d
2,2017-08-27,Chelsea,Everton,1.169910,0.326655,l
3,2017-09-09,Everton,Tottenham,1.151440,2.175350,l
4,2017-09-17,Manchester United,Everton,3.287220,1.062980,l
...,...,...,...,...,...,...
4555,2023-04-29,Brentford,Nottingham Forest,1.320590,0.939693,l
4556,2023-05-08,Nottingham Forest,Southampton,1.913260,3.310960,w
4557,2023-05-13,Chelsea,Nottingham Forest,0.999181,1.967970,d
4558,2023-05-20,Nottingham Forest,Arsenal,1.139700,0.490200,w
4559,2023-05-28,Crystal Palace,Nottingham Forest,1.007860,0.436439,d

In [150]:
# 각 파일의 HomeTeam 및 AwayTeam 열의 고유한 값들 가져오기
unique_teams_df1 = set(df1['HomeTeam'].unique()) | set(df1['AwayTeam'].unique())
unique_teams_df2 = set(df2['HomeTeam'].unique()) | set(df2['AwayTeam'].unique())

# 두 파일의 HomeTeam 및 AwayTeam 열의 고유한 값들을 통합
all_unique_teams = unique_teams_df1 | unique_teams_df2

# 통합된 고유한 값들을 기준으로 각 파일의 HomeTeam 및 'AwayTeam' 열 최신화
df1['HomeTeam'] = df1['HomeTeam'].map(lambda x: x if x in all_unique_teams else None)
df1['AwayTeam'] = df1['AwayTeam'].map(lambda x: x if x in all_unique_teams else None)
df2['HomeTeam'] = df2['HomeTeam'].map(lambda x: x if x in all_unique_teams else None)
df2['AwayTeam'] = df2['AwayTeam'].map(lambda x: x if x in all_unique_teams else None)


df1

,Date,HomeTeam,AwayTeam,home_xG,away_xG,result
0,2017-08-12,Everton,Stoke,0.720574,0.276440,w
1,2017-08-21,Manchester City,Everton,1.142160,0.599710,d
2,2017-08-27,Chelsea,Everton,1.169910,0.326655,l
3,2017-09-09,Everton,Tottenham,1.151440,2.175350,l
4,2017-09-17,Manchester United,Everton,3.287220,1.062980,l
...,...,...,...,...,...,...
4555,2023-04-29,Brentford,Nottingham Forest,1.320590,0.939693,l
4556,2023-05-08,Nottingham Forest,Southampton,1.913260,3.310960,w
4557,2023-05-13,Chelsea,Nottingham Forest,0.999181,1.967970,d
4558,2023-05-20,Nottingham Forest,Arsenal,1.139700,0.490200,w
4559,2023-05-28,Crystal Palace,Nottingham Forest,1.007860,0.436439,d

In [152]:
df2

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,2017-11-02,Arsenal,Hull,2.0,0.0,H,1.0,0.0,H,17.0,...,7.0,4.0,12.0,9.0,3.0,8.0,3.0,1.0,0.0,1.0
1,2017-11-02,Liverpool,Tottenham,2.0,0.0,H,2.0,0.0,H,17.0,...,9.0,2.0,14.0,14.0,10.0,3.0,3.0,4.0,0.0,0.0
2,2017-11-02,Man United,Watford,2.0,0.0,H,1.0,0.0,H,22.0,...,11.0,3.0,10.0,12.0,5.0,1.0,1.0,0.0,0.0,0.0
3,2017-11-02,Middlesbrough,Everton,0.0,0.0,D,0.0,0.0,D,9.0,...,3.0,3.0,14.0,9.0,5.0,2.0,2.0,0.0,0.0,0.0
4,2017-11-02,Stoke,Crystal Palace,1.0,0.0,H,0.0,0.0,D,7.0,...,4.0,1.0,10.0,14.0,5.0,5.0,1.0,3.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2100,2023-05-28,Everton,Bournemouth,1.0,0.0,H,0.0,0.0,D,13.0,...,6.0,2.0,11.0,12.0,9.0,3.0,1.0,3.0,0.0,0.0
2101,2023-05-28,Leeds,Tottenham,1.0,4.0,A,0.0,1.0,A,19.0,...,2.0,7.0,7.0,5.0,12.0,3.0,3.0,0.0,0.0,0.0
2102,2023-05-28,Leicester,West Ham,2.0,1.0,H,1.0,0.0,H,13.0,...,4.0,3.0,8.0,10.0,3.0,5.0,1.0,1.0,0.0,0.0
2103,2023-05-28,Man United,Fulham,2.0,1.0,H,1.0,1.0,D,21.0,...,8.0,3.0,14.0,10.0,5.0,4.0,1.0,2.0,0.0,0.0
2104,2023-05-28,Southampton,Liverpool,4.0,4.0,D,2.0,2.0,D,15.0,...,10.0,8.0,4.0,10.0,2.0,9.0,0.0,2.0,0.0,0.0

In [167]:
#두 데이터 합치기

df1.Date = pd.to_datetime(df1.Date)
df = pd.merge(df1, df2, left_on = ['Date', 'HomeTeam', 'AwayTeam'], right_on = ['Date', 'HomeTeam', 'AwayTeam'], how='inner')

df

,Date,HomeTeam,AwayTeam,home_xG,away_xG,result,FTHG,FTAG,FTR,HTHG,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,2017-08-27,Chelsea,Everton,1.169910,0.326655,l,2.0,0.0,H,2.0,...,7.0,0.0,12.0,7.0,6.0,3.0,2.0,2.0,0.0,0.0
1,2017-08-27,Chelsea,Everton,1.169910,0.326655,w,2.0,0.0,H,2.0,...,7.0,0.0,12.0,7.0,6.0,3.0,2.0,2.0,0.0,0.0
2,2017-09-09,Everton,Tottenham,1.151440,2.175350,l,0.0,3.0,A,0.0,...,1.0,6.0,14.0,14.0,7.0,3.0,3.0,1.0,0.0,0.0
3,2017-09-09,Everton,Tottenham,1.151440,2.175350,w,0.0,3.0,A,0.0,...,1.0,6.0,14.0,14.0,7.0,3.0,3.0,1.0,0.0,0.0
4,2017-09-23,Everton,Bournemouth,2.210920,0.384728,w,2.0,1.0,H,0.0,...,4.0,4.0,12.0,11.0,4.0,6.0,3.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1661,2022-10-23,Leeds,Fulham,1.963840,2.475120,l,2.0,3.0,A,1.0,...,5.0,5.0,12.0,8.0,3.0,6.0,1.0,1.0,0.0,0.0
1662,2023-04-22,Fulham,Leeds,1.437630,1.074820,w,2.0,1.0,H,0.0,...,5.0,2.0,10.0,15.0,8.0,6.0,1.0,4.0,0.0,0.0
1663,2023-04-22,Fulham,Leeds,1.437630,1.074820,l,2.0,1.0,H,0.0,...,5.0,2.0,10.0,15.0,8.0,6.0,1.0,4.0,0.0,0.0
1664,2023-01-22,Leeds,Brentford,0.374736,0.171140,d,0.0,0.0,D,0.0,...,5.0,0.0,10.0,18.0,2.0,3.0,2.0,2.0,0.0,0.0
1665,2023-01-22,Leeds,Brentford,0.374736,0.171140,d,0.0,0.0,D,0.0,...,5.0,0.0,10.0,18.0,2.0,3.0,2.0,2.0,0.0,0.0

In [168]:
df.to_csv('~/Documents/ds_study/final_data/final_combined_file.csv', index=False)
print(f'Results saved to {csv_path}')

Results saved to ~/Documents/ds_study/final_data/combined_file3.csv